.footer-part h6 {
  color: orange;
  margin-bottom: 8%;
  font-weight: 600;
}
.footer {
  background-color: #131a22;
  margin-top: 40px;
  padding: 3% 10% 1%;
}

.footer-part {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 14px;
}

.foot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
